<%- include('partial/header') %>

    <main class="main"></main>
    <h2>page apropos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, repudiandae? Laborum accusantium nobis non incidunt impedit fugiat quo beatae natus tenetur, amet consequatur ipsa itaque inventore ipsum provident sunt suscipit.</p>
    </main>


    <%- include('partial/footer') %>