<%- include('partial/header') %>

        <main>
            <div class="content">
                <h1 class="content_title">Page des campagnes</h1>
                <p class="content_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quas eum delectus reiciendis dolore rem quae aspernatur veritatis perspiciatis asperiores perferendis, distinctio recusandae quisquam optio aliquid et eaque aperiam itaque.</p>
                <button class="call_to_action_button">Campagne</button>
            </div>
            
        </main>
    </div>

<%- include('partial/footer') %>