<%- include('partial/header') %>

    <main class="main">
        <div class="content">
            <div class="group">
                <h1 class="content_title">GREEN ROOTS</h1>
                <p class="content_description">Redonnons vie à la nature, un arbre à la fois.
                    Face à l'urgence climatique, Green Roots propose une solution simple et engagée :
                    Vous achetez un arbre, nous le plantons dans une zone ciblée, en partenariat avec des municipalités,
                    des associations et des passionnés de nature.
                    Chaque arbre est une action concrète pour un avenir plus vert.</p>
                <button class="call_to_action_button">Faire un don</button>
            </div>
        </div>

        <section class="carousel">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis veritatis numquam provident beatae, voluptatem sit repudiandae recusandae, nisi excepturi cum consectetur molestiae iure quo quia, assumenda sunt eaque. Ducimus, ad?</p>
        </section>

    </main>




    <%- include('partial/footer') %>