<footer>
    <p>&copy; 2024 MonSiteWeb. Tous droits réservés.</p>
    
      <ul class="footer_link_ul">
        <li class="footer_link_li">
            <a class="footer_link" href="/mentions-legales">Mentions légales</a>
        </li>
        <li class="footer_link_li">
            <a class="footer_link" href="/confidentialite">Politique de confidentialité</a>
        </li>
        <li class="footer_link_li">
            <a class="footer_link" href="/contact">Contact</a>
        </li>
      </ul>
</footer>
</div>
</body>
</html>