<%- include('../partial/header') %>

    <main class="main"></main>
    <div class="dashboard-admin">
        <h2>Bonjour, Administrateur</h2>
        <img src="/img/favicon.ico" alt="Avatar Utilisateur" />
        
        <aside class="sidebar-admin">
          <h3>Sofienne</h3>
            <ul>
              <li><a href="#"><i data-lucide="user"></i>Modifier mon profil</a></li>
              <li><a href="/admin-account-management"><i data-lucide="user"></i>Géstion de comptes</a></li>
              <li><a href="#"><i data-lucide="heart-handshake"></i>Gestion des commandes</a></li>
            </ul>
          </aside>

            <button class="décon-button">Déconnexion</button>
        
    </div>
    </main>


    <%- include('../partial/footer') %>