<%- include('../partial/header') %>

    <main class="main"></main>
    <div class="dashboard-partner">
        <h2>Bonjour, Partenaire</h2>
        <img src="/img/favicon.ico" alt="Avatar Utilisateur" />
        
        <aside class="sidebar-partner">
          <h3>Sofiene</h3>
            <ul>
              <li><a href="#"><i data-lucide="user"></i>Modifier mon profil</a></li>
              <li><a href="#"><i data-lucide="shopping-bag"></i>Suivi des Arbres</a></li>
              <li><a href="#"><i data-lucide="leaf"></i>Mise à Jour des Statuts d'Arbres</a></li>
              
            </ul>
          </aside>

            <button class="décon-button">Déconnexion</button>
        
    </div>
    </main>


    <%- include('../partial/footer') %>