<%- include('../partial/header') %>

    <main class="main"></main>
    <div class="dashboard-manager">
        <h2>Bonjour, Chef de Projet</h2>
        <img src="/img/favicon.ico" alt="Avatar Utilisateur" />
        
        <aside class="sidebar-manager">
          <h3>Sofiene</h3>
            <ul>
              <li><a href="#"><i data-lucide="user"></i>Modifier mon profil</a></li>
              <li><a href="#"><i data-lucide="shopping-bag"></i>Gestion de campagnes</a></li>
              <li><a href="#"><i data-lucide="heart-handshake"></i>Gestion des Arbres</a></li>
            </ul>
          </aside>

            <button class="décon-button">Déconnexion</button>
        
    </div>
    </main>


    <%- include('../partial/footer') %>