<%- include('../partial/header') %>

    <main class="main"></main>
    <div class="dashboard">
        <h2>Bonjour, Sofiane</h2>
        <img src="/img/favicon.ico" alt="Avatar Utilisateur" />
        
        <aside class="sidebar">
            <ul>
              <li><a href="#"><i data-lucide="user"></i>Modifier mon profil</a></li>
              <li><a href="#"><i data-lucide="shopping-bag"></i>Historique d'achats</a></li>
              <li><a href="#"><i data-lucide="leaf"></i>Mes arbres plantés</a></li>
              <li><a href="#"><i data-lucide="heart-handshake"></i>Campagnes Soutenues</a></li>
            </ul>
          </aside>

            <button class="décon-button">Déconnexion</button>
    </div>
    </main>


    <%- include('../partial/footer') %>