<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historique d'achat</title>
  </head>
  <body>
    Historique d'achat
  </body>
</html>
